:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(155, 111, 148);
  color: white;
  text-align: center;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 200px);
}

h1 {
  font-size: 5rem;
  text-shadow: 4px 4px 2px rgba(116, 54, 112, 0.86);
}

h2 {
  font-size: 2.5rem;
  text-shadow: 3px 3px 2px rgba(116, 54, 112, 0.86);
}

h3 {
  margin: 2rem;
}

.wrap {
  margin: 8rem 0 2rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.mainclown {
  height: 250px;
}

/* a {
  text-decoration: none;
  color: rgb(46, 40, 40);
  font-size: 0.7rem;
  margin-top: 0;
} */

/* img {
  border-radius: 20px;
  margin: 30px 0;
}

img.visible {
  display: none;
} */

/* #score.visible {
  display: inline-block;
} */

/* 
.clown-container.visible {
  display: flex;
} */

.circle {
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  height: 150px;
  width: 150px;
  padding: 0.5rem;
  border-radius: 45%;
  margin: 20px 20px 20px;
  /* pointer-events: none; */
  cursor: url(knife_100x100.png), pointer;
}

.active {
  /* background: rgb(109, 69, 116); */
  background-image: url('./assets/clown1.png');
  background-size: cover;
}

/* .clowncircle.number {
  background-image: url(close.webp);
  background-size: cover;
  box-shadow: inset 0px 0px 10px 10px rgb(0, 0, 0);
  transform: scale(5);
  transition: all 0.2s;
}

.clowncircle.number.blood {
  background-image: url(blood.png);
  box-shadow: none;
  border-radius: 10px;
  transition: none;
} */

.nameInput {
  font-family: inherit;
  color: rgb(107, 72, 120);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  width: 200px;
}

::placeholder {
  color: rgb(150, 110, 164);
  font-weight: 500;
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(225, 201, 223);
  color: rgb(95, 54, 97);
  box-shadow: 2px 2px 2px 0.5px rgba(116, 54, 112, 0.86);
  margin: 2rem 1rem;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(199, 150, 194, 0.866);
}

.closeBtn {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
}

/* stop {
  display: none;
}

#stop.visible {
  display: inline-block;
}

#play.notvisible {
  display: none;
}

#xButton:hover,
#closeButton:hover {
  background-color: rgba(220, 198, 198, 0.859);
}

#instButton.notvisible {
  display: none;
}

#instButton:hover {
  background: rgba(107, 9, 9, 0.705);
} */

.modal {
  background-color: rgba(0, 0, 0, 0.739);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.visible {
  display: flex;
}

.modalcontent {
  background-color: rgb(165, 118, 157);
  color: white;
  box-shadow: 2px 2px 2px 0.5px rgba(116, 54, 112, 0.745);
  margin: 3rem;
  padding: 5rem;
  border-radius: 8px;
  max-width: 700px;
  position: relative;
}

/* #modaltext {
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.873);
}

#modalscore {
  border: dotted 7px rgb(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 30px 130px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.873);
}

.instmodal {
  background-color: rgba(0, 0, 0, 0.739);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.instmodal.visible {
  display: flex;
}

.instmodalcontent {
  background-color: rgb(130, 12, 12);
  color: white;
  border: 10px dotted rgb(248, 247, 247, 0.7);
  box-shadow: inset 5px 5px 10px rgba(143, 67, 67, 0.893), 5px 5px 3px rgba(101, 36, 36, 0.86);
  margin: 3rem;
  padding: 5rem;
  border-radius: 50px;
  max-width: 700px;
  position: relative;
}

ul {
  color: white;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.873);
}

ul lh {
  font-size: 2rem;
  line-height: 4rem;
}

ul li {
  font-size: 1.5rem;
  list-style-type: none;
  line-height: 3rem;
} */