:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Creepster', cursive;
  text-align: center;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 100px);
}

h1 {
  font-size: 5rem;
  text-shadow: 4px 4px 2px rgba(195, 54, 54, 0.87);
}

h2 {
  font-size: 2.2rem;
  text-shadow: 3px 3px 2px rgba(195, 54, 54, 0.87);
}

h3 {
  margin: 2rem;
  font-size: 1.7rem;
}

.wrap {
  margin: 3rem 0 2rem;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.mainclown {
  height: 250px;
}

/* a {
  text-decoration: none;
  color: rgb(46, 40, 40);
  font-size: 0.7rem;
  margin-top: 0;
} */

/* img {
  border-radius: 20px;
  margin: 30px 0;
}

img.visible {
  display: none;
} */

/* #score.visible {
  display: inline-block;
} */

/* 
.clown-container.visible {
  display: flex;
} */

.circle {
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  height: 150px;
  width: 150px;
  padding: 0.5rem;
  border-radius: 45%;
  margin: 30px 20px 60px;
  cursor: url('./assets/images/knife_100x100.png'), pointer;
}

.active {
  background-image: url('./assets/images/close.webp');
  box-shadow: inset 0px 0px 10px 10px rgb(0, 0, 0);
  background-size: cover;
  background-position: 100%;
  transform: scale(1.5);
  transition: all 0.2s;
}

.blood {
  background-image: url('./assets/images/blood.png');
  background-size: cover;
}

/* .clowncircle.number {
  background-image: url(close.webp);
  background-size: cover;
  box-shadow: inset 0px 0px 10px 10px rgb(0, 0, 0);
  transform: scale(5);
  transition: all 0.2s;
}

.clowncircle.number.blood {
  background-image: url(blood.png);
  box-shadow: none;
  border-radius: 10px;
  transition: none;
} */

.nameInput {
  font-family: inherit;
  color: rgb(155, 11, 11);
  text-shadow: 0.5px 0.5px 0.5px rgb(85, 22, 22);
  font-weight: 500;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.5rem;
  width: 200px;
  margin: 1rem;
  text-align: center;
}

::placeholder {
  color: rgba(94, 79, 79, 0.177);
  font-size: 1.2rem;
  font-weight: 500;
}

input:focus {
  outline: none;
  border: 2px solid rgba(155, 11, 11, 0.72);
  box-shadow: 0 0 20px #e36666;
}

.btn {
  background-color: rgb(155, 11, 11);
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.873);
  box-shadow: inset 5px 5px 10px rgba(158, 113, 113, 0.893), 3px 3px 3px rgba(116, 54, 54, 0.86);
  cursor: pointer;
  border-style: none;
  font-family: inherit;
  font-size: 2rem;
  border-radius: 15px;
  margin: 10px 20px 20px;
  padding: 1rem;
}

.btn:hover {
  background-color: rgb(155, 11, 11, 0.5);
}

.score {
  margin: 30px 0;
  color: white;
  font-size: 1.7rem;
  text-shadow: 3px 3px 1px rgba(162, 27, 27, 0.881);
}

/* stop {
  display: none;
}

#stop.visible {
  display: inline-block;
}

#play.notvisible {
  display: none;
}

#xButton:hover,
#closeButton:hover {
  background-color: rgba(220, 198, 198, 0.859);
}

#instButton.notvisible {
  display: none;
}

#instButton:hover {
  background: rgba(107, 9, 9, 0.705);
} */

.modal {
  background-color: rgba(0, 0, 0, 0.739);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.modal.visible {
  display: flex;
} */

.modalContent {
  background-color: rgb(130, 12, 12);
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.873);
  box-shadow: inset 5px 5px 10px rgba(144, 77, 77, 0.893), 5px 5px 3px rgba(95, 31, 31, 0.86);
  margin: 3rem;
  padding: 5rem;
  border-radius: 40px;
  max-width: 800px;
  position: relative;
  border: dotted 7px rgb(255, 255, 255, 0.6);
}

.result {
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem;
}

.modalHeader {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.873);
}

.closeBtn {
  background-color: white;
  font-size: 1.2rem;
  color: rgb(120, 13, 13);
  text-shadow: 1px 1px 2.5px rgba(122, 10, 10, 0.873);
  box-shadow: inset 2px 2px 2px rgba(143, 12, 12, 0.893), 3px 3px 2px rgba(30, 4, 4, 0.86);
  padding: 0.3rem 0.8rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border-radius: 10px;
}

.closeBtn:hover {
  background-color: rgba(220, 198, 198, 0.859);
}



/* #modaltext {
  font-size: 1.5rem;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.873);
}

#modalscore {
  border: dotted 7px rgb(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 30px 130px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.873);
}

.instmodal {
  background-color: rgba(0, 0, 0, 0.739);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.instmodal.visible {
  display: flex;
}

.instmodalcontent {
  background-color: rgb(130, 12, 12);
  color: white;
  border: 10px dotted rgb(248, 247, 247, 0.7);
  box-shadow: inset 5px 5px 10px rgba(143, 67, 67, 0.893), 5px 5px 3px rgba(101, 36, 36, 0.86);
  margin: 3rem;
  padding: 5rem;
  border-radius: 50px;
  max-width: 700px;
  position: relative;
}

ul {
  color: white;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.873);
}

ul lh {
  font-size: 2rem;
  line-height: 4rem;
}

ul li {
  font-size: 1.5rem;
  list-style-type: none;
  line-height: 3rem;
} */